
.container__games{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    gap:20px;
    justify-content: center;
    margin-bottom: 50px;
}
.back__menu{
    margin: 20px;
    margin-bottom: 0;
}
.back__menu button{
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
    font-family: var(--font-pixel);
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.title__page__game{
    text-align: center;
    font-family: var(--font-pixel);
    color: var(--color-primary);
}
.border__card__game{
    border:2px solid var(--black);
    border-radius:5px;
    background-color: var(--grey-dark);
    padding:7px;
    box-shadow: 2px 2px 0px 0px rgba(56, 56, 56, 0.75) inset,
    0px 0px 12px rgb(255 255 255 / 26%);
    width: fit-content;
    cursor: pointer;
}
.card__game{
    background-color: var(--color-secondary);
    border:2px solid var(--black);
    border-radius:5px;
    padding:7px;
}
.card__image__game img{
    border:2px solid var(--black);
    border-radius:5px;
    width: 250px;
    height: 150px;
    object-fit: contain;
}
.card__game > h2{
    color: var(--white);
    font-family: var(--font-pixel);
    width: 220px;
    margin:2px 0px;
    height: 40px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}
.card__game p{
    color:var(--grey);
    font-family: var(--font-pixel);
    width: 220px;
    margin:2px 0px 10px 0px;
}
.border__title__game{
    border:2px solid var(--black);
    border-radius:5px;
    background-color: var(--purple);
    padding:7px;
    box-shadow: 2px 2px 0px 0px #8c21ffe3 inset;
}
.title__game{
    background-color: #010001;
    border:2px solid var(--black);
    border-radius:5px;
    padding:7px;
}
.title__game h2{
    font-family: var(--font-pixel);
    text-align: center;
    color:var(--grey);
    margin:0px auto; 
}