.lojaskin__border{
    width:200px;
    height:280px;
    border:2px solid var(--black);
    border-radius:5px;
    background-color: var(--grey-dark);
    padding:7px;
    box-shadow: 2px 2px 0px 0px rgba(56, 56, 56, 0.75) inset,
    0px 0px 12px rgb(255 255 255 / 26%);
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.lojaskin__border:hover{
    transform: scale(1.2);
}

.lojaskin__cardBG{
    width: 90%;
    height: 93%;
    background-color: var(--background);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.lojaskin__imgBG{
    width: 170px;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#lojaskin__parrot{
    width: 140px;
    height: auto;
}
.lojaskin__cardFooter{
    color: var(--white);

}
.lojaskin__letraPixel{
    color: var(--color-primary);

}
.lojaskin__cardFooter, .lojaskin__letraPixel{
    font-family: var(--font-pixel); 
    text-align: left;
    width:100%;
    margin-top: -9px;          
}

.lojaskin__cardFooter{
    display: flex;
    width:90%;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: 4px solid var(--purple);
    background-color: var(--black);
    border-radius: 8px;
    margin-bottom: 13px;
}

.lojaskin__cardFooter svg:last-child {
    width: 15px;
    height: 15px;
}

.lojaskin__imgEdit{
    width: 30px;
    height:auto;
}

.lojaskin__imgEdit{
    padding: 5px;
}

.lojaskin__SVG{
    background-color: var(--grey-dark);
    border-radius: 50%;
}