.perfilUser__main{
    width: 100%;
    height: 100%;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 100px;
}



.perfilUser__titlePage{
    width: 100%;
}
.perfilUser__titlePage h1{
    font-family: var(--font-pixel);
    font-size: 3rem;
    color: var(--color-primary);
}



.perfilUser__userData{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 50px;
}



.perfilUser__userData__avatar__image{
    width: 267px;
    height: 267px;
    border-radius: 50%;
    background-color: var(--dark2);
    border: 3px solid var(--purple);
    background: center / contain no-repeat url("/imgs/animais/3.png") var(--color-secondary);
    position: relative;
}
.perfilUser__userData__avatar__image__editImg{
    /* position: absolute;
    bottom: 0px;
    right: 0px; */
}
.perfilUser__userData__avatar__capCoins{
    width: 130px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--purple);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    margin: 20px auto;
}
.perfilUser__userData__avatar__capCoins > img{
    width: 30px;
    height: 30px;
}
.perfilUser__userData__avatar__capCoins > span{
    font-family: var(--font-pixel);
    font-size: 1.4rem;
    margin-left: 5px;
}



.perfilUser__userData__inputs{
    max-width: 700px;
    min-width: 300px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 20px;
    border: 3px solid var(--purple-y);
}
.perfilUser__userData__input{
    font-size: 1.2rem;
    position: relative;
}
.perfilUser__userData__input:nth-child(5){
    background-color: var(--purple);
    color:var(--color-secondary);
    border-radius: 10px;
    border: 0px;
    transition: .5s;
}
.perfilUser__userData__input label{
    display: block;
    font-family: var(--font-pixel);
    margin-bottom: 10px;
}
.perfilUser__userData__input input{
    width: 250px;
    display: block;
    border-radius: 5px;
    background-color: var(--dark2);
    border: 1px solid var(--purple-y);
    color: var(--color-primary);
    padding: 13px 5px;
    font-size: 1rem;
    box-shadow: 2px 2px 0px #932eff inset,
    -2px -2px 0px #44008d inset;
}
.perfilUser__userData__input:nth-child(5) input{
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.perfilUser__userData__input:nth-child(5):hover{
    background-color: #7b00ffe0;
}
.perfilUser__userData__input__editImg{
    position: absolute;
    bottom: 10px;
    right: 9px;
}



.perfilUser__actions{
    max-width: 950px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 100px;
}
.perfilUser__action {
    width: 250px;
    height: 200px;
    text-align: center;
    border: 2px solid var(--purple-y);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    color: var(--color-primary);
}
.perfilUser__action:hover{
    background-color: var(--purple);
    border: 2px solid var(--color-secondary);
}
.perfilUser__action img{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
.perfilUser__actions .perfilUser__action:nth-child(3) img, .perfilUser__action:nth-child(4) img, .perfilUser__action:nth-child(5) img{
    filter:var(--filter-image);
}
.perfilUser__actions .perfilUser__action:first-child img, .perfilUser__action:nth-child(2) img {
    width: 130px;
    height: 130px;
}
.perfilUser__actions .perfilUser__action:nth-child(3) img {
    width: 75px;
    height: 75px;
    margin: 28px 0px;
}
.perfilUser__action p{
    display: block;
    font-size: 1.3rem;
    font-family: var(--font-pixel);
}

/** Card **/
.perfilUser-card__border{
    width:250px;
    height:320px;
    border:2px solid var(--black);
    border-radius:5px;
    background-color: var(--grey-dark);
    padding:7px;
    box-shadow: 2px 2px 0px 0px rgba(56, 56, 56, 0.75) inset,
    0px 0px 12px rgb(255 255 255 / 26%);
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.perfilUser-card__border:hover{
    transform: scale(1.2);
}

.perfilUser-card__cardBG{
    width: 90%;
    height: 93%;
    background-color: var(--background);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.perfilUser-card__imgBG{
    width: 95%;
    margin-top: 15px;
    padding: 20px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/imgs/cardbg/bgCard.png);
    background-size: cover;
}

#perfilUser-card__parrot{
    width: 140px;
    height: auto;
}
.perfilUser-card__cardFooter{
    color: var(--white);
}
.perfilUser-card__cardFooter input{
    width: 30px;
    height: 30px;
}
.perfilUser-card__letraPixel{
    color: var(--color-primary);

}
.perfilUser-card__cardFooter, .perfilUser-card__letraPixel{
    font-family: var(--font-pixel); 
    text-align: left;
    width:100%;
    margin-top: -9px;          
}

.perfilUser-card__cardFooter{
    display: flex;
    width:90%;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: 4px solid var(--purple);
    background-color: var(--black);
    border-radius: 8px;
    margin-bottom: 13px;
}

.perfilUser-card__cardFooter svg:last-child {
    width: 15px;
    height: 15px;
}

.perfilUser-card__imgEdit{
    width: 30px;
    height:auto;
}

.perfilUser-card__imgEdit{
    padding: 5px;
}

.perfilUser-card__SVG{
    background-color: var(--grey-dark);
    border-radius: 50%;
}

@media screen and (max-width:1045px) {
    .perfilUser__titlePage h1{
        font-size: 3rem;
        padding-left: 50px;
    }
}
@media screen and (max-width:750px) {
    .perfilUser__titlePage h1{
        font-size: 2rem;
        padding-left: 20px;
    }

    .perfilUser__userData__inputs{
        height: 100%;
        padding: 20px;
        margin: 50px;
    }
}
@media screen and (max-width:400px) {
    .perfilUser__userData__inputs{
        padding: 20px 10px;
        min-width: fit-content;
    }
}

@media screen and (max-width:1045px) {
    .perfilUser__titlePage h1{
        font-size: 3rem;
        padding-left: 50px;
    }
}

@media (prefers-reduced-motion) {
    .perfilUser__userData__avatar {
      transform: none !important;
    }
}