  .border__jv{
    margin: 20px auto;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--purple);
    width: fit-content;
  }
  
  .Game__jv {
    position: relative;
    width: 350px;
    height: 400px;
    border: 2px solid #000;
    padding: 5px;
    background-color: #262626;
  }
  
  .Game__menu__jv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-family: var(--font-pixel);
    padding: 15px;
  }
  .Game__menu__jv button{
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
  }
  
  .Game__board__jv {
    width: 90%;
    height: 80%;
    display: grid;
    margin: 5px auto;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .Game__board__jv button {
    border: 2px solid #ddd;
    font-size: 4rem;
    line-height: 0;
    background-color: transparent;
    color: #ddd;
    font-family: var(--font-pixel);
  }
  .Game__board__jv button:nth-child(1),button:nth-child(2),button:nth-child(3){
    border-top: none;
  }
  .Game__board__jv button:nth-child(1),button:nth-child(4),button:nth-child(7){
    border-left: none;
  }
  .Game__board__jv button:nth-child(3n){
    border-right: none;
  }
  .Game__board__jv button:nth-child(7),button:nth-child(8),button:nth-child(9){
    border-bottom: none;
  }