.signin__title{
    color: var(--color-primary);
    font-family: var(--font-pixel);
    margin: 50px auto;
    text-align: center;
    animation: SelectPlayer 2s infinite;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;
}
.signin__title h2{
    margin: 0px;
}
.signin__images{
    margin: 0 auto 22vh auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.signin__images .signin__gamer, .signin__dev{
    width: 300px;
    height: 300px;
    background-color: var(--grey-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 5px solid var(--purple-y);
    outline: 2px solid var(--black);
    cursor: pointer;
}
.signin__gamer p, .signin__dev p{
    position: absolute;
    font-family: var(--font-pixel);
    color: var(--color-primary);
/*     text-shadow: 0px 0px 10px var(--white); */
    font-size: 1.7rem;
    transition: 0.5s all;
}
.signin__gamer img, .signin__dev img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    filter: saturate(0);
    transition: 0.5s all;
    opacity: 0.1;
}
.signin__gamer:hover img, .signin__dev:hover img{
    opacity: 1;
    filter: saturate(1);
}
.signin__gamer:hover p, .signin__dev:hover p{
    opacity: 0;
}
.page__cad{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    padding-top: 0px;
    margin-bottom: 12vh;
    flex-wrap: wrap-reverse;
}
.page__cad__user{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.page__cad__user button{
    font-family: var(--font-normal);
    text-align: center;
    color: var(--white);
    background-color: var(--purple);
    box-shadow: 2px 2px 0px #932eff inset,
    -2px -2px 0px #44008d inset;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.7s all;
}
.page__cad__user button:hover{
    background-color: var(--dark-purple);
}
.signin__img{
    width: 300px;
    height: 300px;
    background-color: var(--grey-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 5px solid var(--purple);
    outline: 2px solid var(--black);
    cursor: pointer;
}
.signin__img img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    transition: 0.5s all;
}
.form__signin{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form__signin input, textarea{
    border: 1px solid var(--purple-y);
    color: var(--color-primary);
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
}
.form__signin input::placeholder{
    color: var(--grey);
}
.form__signin h2{
    font-family: var(--font-pixel);
    text-align: center;
    color: var(--color-primary);
    margin: 0;
}
.form__signin p{
    font-family: var(--font-normal);
    text-align: center;
    color: var(--grey);
    font-size: 0.9rem;
    margin: 0;
}
.form__signin p a{
    font-family: var(--font-normal);
    text-align: center;
    color: var(--color-primary);
    transition: 0.7s all;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.form__signin p a:hover{
    text-decoration: underline;
}
.form__signin button{
    font-family: var(--font-normal);
    text-align: center;
    color: var(--white);
    background-color: var(--purple);
    box-shadow: 2px 2px 0px #932eff inset,
    -2px -2px 0px #44008d inset;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.7s all;
}
.form__signin button:hover{
    background-color: var(--dark-purple);
}
@keyframes SelectPlayer{
    from{
        opacity: 0.2;
    }
    to{
        opacity: 1;
    }
}

/** Responsividade **/
@media screen and (max-width:750px) {
    .signin__images .signin__gamer, .signin__dev{
        width: 250px;
        height: 250px;
    }
    .signin__dev p{
        font-size: 1.5rem;
    }
    .signin__gamer img, .signin__dev img{
        width: 230px;
        height: 230px;
    }
    .signin__img{
        width: 230px;
        height: 230px;
    }
    .signin__img img{
        width: 200px;
        height: 200px;
    }
    .page__cad{
        align-items: center;
    }

}