.accessibility__main{
    color: var(--color-primary);
    font-family: var(--font-normal);
}

.acessibility_Titulo{
    font-family: var(--font-pixel);
    color: var(--color-primary);
}

.accessibility__grid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 35px;
    margin-bottom: 35px;
}

.accessibility_Header{
    font-family: var(--font-pixel);
    color: var(--color-primary);
    text-align: center;
    margin-top: 16px;
}

.acessibility_threeBlocks{
    display: flex;
    width:100%;
    gap: 35px;
}

.acessibility__recursos{
    display: flex; 
    width: 1000px;
    align-items: left;
    justify-content: flex-start;
    border-radius: 8px;
    margin-bottom: 13px;
    flex-direction: column;
}

.acessibility__border{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--purple-y);
    border-radius: 8px;
    flex-direction: column;
}

.acessibility__tecAssistivas{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-direction: column;
    gap: 40px;
}

.infos1{
  display: flex;
  cursor: pointer;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
}
.infos1 div > p{
  margin: 0;
  padding: 10px;
}
@media screen and (max-width:900px){
    .acessibility_threeBlocks{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:900px){
    .accessibility_Header div > img{
        width: 250px;
    }
}

.acessibility__borderTopo{
    background-color: var(--purple);
    width:100%;
}
