#relatorios-dev{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 85vh;
    margin-top: 30px;
    gap:20px;
    padding: 0px 25px;
    background-color: var(--background);
}
#relatorios-dev h1{
    color:var(--color-primary);
    font-family: var(--font-pixel);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
#relatorios-dev h1 button{
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    background-color: var(--purple-y);
    color: var(--color-primary);
    padding: 5px 30px;
    font-size: 1rem;
    box-shadow: 2px 2px 0px #932eff inset,
    -2px -2px 0px #44008d inset;
    transition: 0.7s all;
    cursor: pointer;
}
#relatorios-dev h1 button:hover{
    background-color: var(--dark-purple);
}
.container__relatorios-dev{
    display: grid;
    justify-content: start;
    justify-items: stretch;
    align-items: end;
    grid-template-columns: 2fr 2fr;
    gap:30px;
    margin-bottom: 30px;
    width: 100%;
}
.relatorios-dev__grafico-Vendas{
    font-family: var(--font-normal);
    width: 100%;
}
.relatorios-dev__grafico-Vendas > p{
    color:var(--color-primary);
    font-family: var(--font-pixel);
}
.relatorios-dev__grafico-Vendas select{
    color:var(--color-primary);
    background-color: transparent;
    padding: 5px 25px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.relatorios-dev__grafico-Vendas option{
    color:var(--black);
    background-color: transparent;
    padding: 5px 25px;
    border-radius: 5px;
}
.relatorios-dev__grafico-Vendas .recharts-wrapper{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    width: calc(100% - 40px) !important;
    background-color: var(--light-background);
    display: flex;
}
.relatorios-dev__grafico-Vendas .recharts-wrapper svg{
    margin-left: -20px;
}

.relatorios-dev__geral{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    height: 200px;
    background-color: var(--light-background);
    width: calc(100% - 40px);
}
.relatorios-dev__geral p{
    color: var(--color-primary);
    font-family: var(--font-pixel);
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.relatorios-dev__geral b{
    font-family: var(--font-normal);
}

.relatorios-dev__quantidade-jogos{
    display: grid;
    gap: 30px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'jv jc'
    'vj vj';
    align-items: start;
    width: 100%;
}
.relatorios-dev__quantidade-jogos .quant-jogos{
    color: var(--color-primary);
    font-family: var(--font-pixel);
    text-align: center;
}
.relatorios-dev__quantidade-jogos .quant-jogos > P{
    padding: 0px 15%;
}
.relatorios-dev__quantidade-jogos .quant-jogos:first-child{
    grid-area: jv;
}
.relatorios-dev__quantidade-jogos .quant-jogos:last-child{
    grid-area: jc;
}

.relatorios-dev__quantidade-jogos .quant-jogos div{
    padding: 45px 20px;
    font-size: 5rem;
    border-radius: 10px;
    border: 1px solid var(--grey);
    background-color: var(--light-background);
}

.relatorios-dev__mais-vendidos{
    color: var(--color-primary);
}
.relatorios-dev__mais-vendidos > p{
    font-family: var(--font-pixel);
}
.relatorios-dev__mais-vendidos .tabela__mais-vendidos{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    font-family: var(--font-normal);
    background-color: var(--light-background);
}
.relatorios-dev__mais-vendidos .header__mais-vendidos, .mais-vendidos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.relatorios-dev__mais-vendidos .header__mais-vendidos p:first-child{
    width: 20%;
}
.relatorios-dev__mais-vendidos .header__mais-vendidos p, .mais-vendidos p{
    width: 100%;
    text-align: center;
}
.relatorios-dev__mais-vendidos .mais-vendidos .quant__mais-vendidos b{
    width: 30px;
    height: 30px; 
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--purple);
    color: var(--purple);
    background-color: var(--color-primary);
}
.relatorios-dev__mais-vendidos .mais-vendidos p:first-child{
    color: var(--green);
    width: 20%;
}

.relatorios-dev__vendas{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
    font-family: var(--font-pixel);
    grid-area: vj;
}
.relatorios-dev__vendas hr{
    width: 100%;
}
.relatorios-dev__vendas p{
    display: flex;
    justify-content: space-between;
}
.relatorios-dev__vendas span{
    display: flex;
    justify-content: flex-end;
    font-size: 0.6rem;
}

/** Responsividade **/
@media screen and (max-width:1100px){
    .container__relatorios-dev{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}
@media screen and (max-width:650px){
    .relatorios-dev__geral p{
        flex-wrap: wrap;
    }
    .relatorios-dev__geral{
        height: auto;
    }
    .relatorios-dev__quantidade-jogos{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .body__melhores-devs .melhores-devs{
        flex-direction: column;
        border-bottom: 1px solid var(--grey);
    }
    .relatorios-dev__geral p{
        flex-direction: column;
    }
    .relatorios-dev__geral{
        height:auto
    }
    .relatorios-admin__mais-vendidos .header__mais-vendidos, .mais-vendidos{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid var(--grey);
    }
    .relatorios-dev__mais-vendidos .header__mais-vendidos{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width:400px){
    .recharts-tooltip-wrapper .recharts-tooltip-wrapper-left .recharts-tooltip-wrapper-bottom{
        transform:none;
    }
    #relatorios-dev h1 button{
        padding: 5px;
    }

}