.categorias{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: var(--background);
}
    #container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 85vh;
        margin-top: 30px;
        gap:40px;
        padding: 0px 25px;
        background-color: var(--background);
    }
    .section__categories-categorias{
        background-color: var(--light-background);
        color: var(--color-primary);
        width: 15%;
        display: flex;
        flex-direction: column;
        font-family: var(--font-normal);
        padding: 20px;
        border-radius: 5px;
    }
    .section__categories-categorias .categorias__categorias{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .section__categories-categorias .categorias__categorias label{
        text-transform: capitalize;
        margin: 0;
        cursor: pointer;
        padding: 5px 10px;
    }
    .section__categories-categorias .categorias__categorias input{
        accent-color: var(--purple-y);
        width: fit-content;
    }
    .section__categories-categorias h2{
        margin: 5px;
    }
    .section__categories-categorias .categorias__categorias label:hover{
        background-color: var(--light-hover-background);
    }
    .container__categorias__right{
        width: 85%;
    }
    .section__title{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .section__title h1{
        font-family: var(--font-pixel);
        color: var(--color-primary);
        width: 400px;
        font-size: 1.5rem;
        text-shadow:
            0 0 10px #fff,
            0 0 15px rgb(68, 0, 255),
            0 0 25px rgb(68, 0, 255),
            0 0 35px rgb(68, 0, 255),
            0 0 45px rgb(68, 0, 255);
            margin: 0;
        text-align: center;
        margin: 0;
    }
    #games__categorias{
        padding: 40px 30px;
        margin-top: 40px;
        width: auto;
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #games__categorias > h2{
        font-family: var(--font-pixel);
        color: var(--color-primary);
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
    #games__categorias > p{
        font-family: var(--font-pixel);
        color: var(--color-primary);
        margin: 0;
        margin: 15px;
        text-align: right;
        width: 100%;
        cursor: pointer;
    }
    .section__games{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        justify-content: center;
    }

    .categorias__filter{
        display: none;
        gap: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .categorias__filter-categorias, 
    .categorias__filter-classificacao, 
    .categorias__filter-plataforma{
        display: flex;
        flex-direction: column;
    }
    .categorias__filter-categorias .categorias__select-categorias, 
    .categorias__filter-classificacao .categorias__select-classificacao, 
    .categorias__filter-plataforma .categorias__select-plataforma{
        cursor: pointer;
    }
    .categorias__filter-categorias .categorias__select-categorias p, 
    .categorias__filter-classificacao .categorias__select-classificacao p, 
    .categorias__filter-plataforma .categorias__select-plataforma p{
        border: 1px solid var(--grey);
        width: 200px;
        border-radius: 5px;
        color: var(--color-primary);
        font-family: var(--font-normal);
        padding: 5px 10px;
        height: 20px;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        margin: 0;
    }
    
    .categorias__options-categorias, 
    .categorias__options-classificacao, 
    .categorias__options-plataforma{
        background-color: var(--light-background);
        color: var(--color-primary);
        width: 200px;
        height: 150px;
        display: flex;
        flex-direction: column;
        font-family: var(--font-normal);
        padding: 20px;
        border-radius: 5px;
        overflow-y: auto;
        position: absolute;
        top: 40%;
    }
    .categorias__options-categorias .categorias__categorias label, 
    .categorias__options-classificacao .categorias__classificacao label, 
    .categorias__options-plataforma .categorias__plataforma label{
        text-transform: capitalize;
        margin: 0;
        cursor: pointer;
        padding: 5px 10px;
    }
    .categorias__options-categorias .categorias__categorias input, 
    .categorias__options-classificacao .categorias__classificacao input, 
    .categorias__options-plataforma .categorias__plataforma input{
        accent-color: var(--purple-y);
    }
    .categorias__filter-categorias > p, 
    .categorias__filter-classificacao > p, 
    .categorias__filter-plataforma > p{
        color: var(--color-primary);
        font-family: var(--font-normal);
        margin: 5px;
    }
    /*animação*/
    @keyframes Avatar{
        0%{
            transform: rotate(0deg);
            opacity: 1;
            filter: drop-shadow(5px 5px rgba(255, 255, 255, 0));
        }
        5%{
            filter: drop-shadow(5px 5px rgb(255, 0, 55));
        }
        6%{
            filter:drop-shadow(5px 5px rgba(255, 255, 255, 0));
        }
        7%{
            filter: drop-shadow(-5px -5px rgb(0, 255, 255));
        }
        8%{
            filter:drop-shadow(-5px -5px rgba(255, 255, 255, 0));
        }
        10%{
            opacity: 0;
        }
        11%{
            opacity: 1;
        }
        95%{
            filter: drop-shadow(5px 5px rgb(255, 0, 55));
        }
        96%{
            filter:drop-shadow(5px 5px rgba(255, 255, 255, 0));
        }
        97%{
            filter: drop-shadow(-5px -5px rgb(0, 255, 255));
        }
        98%{
            filter:drop-shadow(-5px -5px rgba(255, 255, 255, 0));
        }
        99%{
            opacity: 1;        
        }
        100%{
            transform: rotate(5deg);
            opacity: 0;
        }
    }
/** Responsividade **/
@media screen and (max-width:1100px) {
    .section__categories-categorias{
        display: none;
    }
    .container__categorias__right{
        width: 100%;
    }
    .categorias__filter{
        display: flex;
        flex-wrap: wrap;
    }
}
    