.avatares__border{
    width:200px;
    height:280px;
    border:2px solid var(--black);
    border-radius:5px;
    background-color: var(--grey-dark);
    padding:7px;
    box-shadow: 2px 2px 0px 0px rgba(56, 56, 56, 0.75) inset,
    0px 0px 12px rgb(255 255 255 / 26%);
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.avatares__border:hover{
    transform: scale(1.2);
}

.avatares__cardBG{
    width: 90%;
    height: 92%;
    background-color: var(--background);
    border:2px solid var(--black);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.avatares__imgBG{
    background-color: var(--grey-dark);
    border-radius: 8px;
    background-position: 0px 0px;
    background-size: 100%;
    /* -webkit-animation: bg-scrolling-reverse 5s infinite;
    -moz-animation: bg-scrolling-reverse 5s infinite;
    -o-animation: bg-scrolling-reverse 5s infinite;
    animation: bg-scrolling-reverse 5s infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; */
}
.avatares__imgBG:hover{
    animation: zoomAnimation 10s infinite alternate;
}

@keyframes zoomAnimation {
    0% {
      background-size: 100%;
    }
    50% {
      background-size: 150%;
    }
    100% {
      background-size: 100%;
    }
}
@-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 1px 1px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 1px 1px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 1px 1px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
      background-position: 1px 1px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
      background-position: 1px 1px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
      background-position: 0px 0px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
      background-position: 0px 0px;
    }
}
@keyframes bg-scrolling {
    0% {
      background-position: 0px 0px;
    }
}

#avatares__parrot{
    width: auto;
    height: 150px;
}

.avatares__cardFooter{
    display: flex;
    width:90%;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: 4px solid #7900fb;
    background-color: var(--black);
    border-radius: 8px;
    margin-bottom: 10px;
}

.avatares__cardFooter svg:last-child {
    background-color: rgb(51, 46, 46);
    border-radius: 49%;
    width: 10%;
    height: auto;
}

.avatares__imgBG{
    width: 170px;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatares__letraPixel{
    font-family: var(--font-pixel);
    color: var(--color-primary);
    text-align: center;
}
.avatares__cardFooter{
    font-family: var(--font-pixel);
    color: var(--white);
    text-align: center;
}

.avatares__cardFooter, .avatares__letraPixel{
    text-align: left;
    width:100%;
    margin-top: -9px;
}
.avatares__cardFooter, .equipado{
  color: var(--purple-y);
}
.avatares__cardFooter, .equipar{
  color: var(--white);
}

.lojaskin__cardFooter, .lojaskin__letraPixel{
  font-family: var(--font-pixel); 
  text-align: left;
  width:100%;
  margin-top: -9px;          
}

.lojaskin__cardFooter{
  display: flex;
  width:90%;
  align-items: center;
  justify-content: center;
  gap: 9px;
  border: 4px solid var(--purple);
  background-color: var(--black);
  border-radius: 8px;
  margin-bottom: 13px;
}

.lojaskin__cardFooter svg:last-child {
  width: 15px;
  height: 15px;
}

.lojaskin__imgEdit{
  width: 30px;
  height:auto;
}

.lojaskin__imgEdit{
  padding: 5px;
}

.lojaskin__SVG i{
  background-color: #ffffff3d;
  color: var(--white);
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
}


  