.avatares__border{
    width:200px;
    height:280px;
    border:2px solid var(--black);
    border-radius:5px;
    background-color: var(--grey-dark);
    padding:7px;
    box-shadow: 2px 2px 0px 0px rgba(56, 56, 56, 0.75) inset,
    0px 0px 12px rgb(255 255 255 / 26%);
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.avatares__border:hover{
    transform: scale(1.2);
}

.avatares__cardBG{
    width: 90%;
    height: 92%;
    background-color: var(--background);
    border:2px solid var(--black);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.avatares__imgBG{
    background-color: var(--grey-dark);
    border-radius: 8px;
    border:2px solid var(--black);
}

#avatares__parrot{
    width: 140px;
    height: auto;
}

.avatares__cardFooter{
    display: flex;
    width:90%;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: 4px solid #7900fb;
    background-color: var(--black);
    border-radius: 8px;
    margin-bottom: 10px;
}

.avatares__cardFooter svg:last-child {
    background-color: rgb(51, 46, 46);
    border-radius: 49%;
    width: 10%;
    height: auto;
}

.avatares__imgBG{
    width: 170px;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatares__letraPixel{
    font-family: var(--font-pixel);
    color: var(--color-primary);
    text-align: center;
}
.avatares__cardFooter{
    font-family: var(--font-pixel);
    color: var(--white);
    text-align: center;
}

.avatares__cardFooter, .avatares__letraPixel{
    text-align: left;
    width:100%;
    margin-top: -9px;
}
