.avatares__border{
    width:200px;
    height:280px;
    background-color: #252525;
    padding: 8px;
    border: 6px solid #000000;
}

.avatares__cardBG{
    width: 90%;
    height: 93%;
    background-color: var(--background);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.avatares__imgBG{
    background-color: #252525;
    border-radius: 8px;
    
}

#avatares__parrot{
    width: 140px;
    height: auto;
}

.avatares__cardFooter{
    display: flex;
    width:90%;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: 4px solid #7900fb;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    margin-bottom: 13px;
    
    
}

.avatares__cardFooter svg:last-child {
    background-color: rgb(51, 46, 46);
    border-radius: 49%;
    width: 10%;
    height: auto;
}

.avatares__imgBG{
    width: 170px;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatares__letraPixel{
    font-family: var(--font-pixel);
    color: var(--color-primary);
    text-align: center;
}

.avatares__cardFooter, .avatares__letraPixel{
    color: var(--color-primary);
    font-family: var(--font-pixel); 
    text-align: left;
    width:100%;
    margin-top: -9px;
          
}
