.accessibility__main{
    color: var(--color-primary);
    font-family: var(--font-normal); 
}

.pubProfile_Titulo{
    font-family: var(--font-pixel);
    color: var(--color-primary);
    text-align: center;
}

.pubProfile_Titulo2{
    display: flex;
    width: 600px;
    align-items: flex-start;
    justify-content: right;
    border-radius: 8px;
    margin-bottom: 13px;
    flex-direction: column;
    padding: 15px;
}

.perfilDev__userData__avatar__image{
    width: 267px;
    height: 267px;
    border-radius: 50%;
    background-color: var(--dark2);
    border: 3px solid var(--purple-y);
    background: center / contain no-repeat url("/imgs/animais/2.png") var(--color-secondary);
    position: relative;
}
.perfilDev__userData__avatar__image__editImg{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.section__pubDev{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.section__pubDev p i{
    cursor: pointer;
}

.pubProfile_bg{
    background-color: #242424;
    border-radius: 20px;
    padding: 30px;
    color:white;
}

.pubProfile_topo{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.pubProfile_descricao1{
    display: flex;
    
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 13px;
    margin-top: 25px;
    flex-direction: column;
    padding: 15px;
    border: 3px solid var(--color-primary);
    border-radius: 250px;
    width: 250px;
    height: 250px;
}

.pubProfile_descricao2{
    display: flex;
    width: 800px;
    align-items: left;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 13px;
    flex-direction: column;
    padding: 15px;
    line-height: 1%;
    font-size: larger;
}

.pubProfile__block1{
    display: flex;
    padding: 18px;
}

.pubProfile__rankingCoin{
    filter: var(--filter-image);
}



