.border__jk{
    margin: 20px auto;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--purple);
    width: fit-content;
  }
  
  .Game__jk {
    position: relative;
    width: 350px;
    height: 400px;
    border: 2px solid #000;
    padding: 5px;
    background-color: #262626;
  }
  
  .Game__menu__jk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-family: var(--font-pixel);
    padding: 15px;
  }
  .Game__menu__jk button{
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
  }
  
  .Game__board__jk {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    justify-content: space-between;
  }
  .computer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
  }
  .computer i{
    font-size: 2rem;
    color: var(--white);
  }
  .Game__actions{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;

  }
  .Game__actions i{
    color: var(--white);
    background-color: var(--purple);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }

  .result{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .result i{
    font-size: 5rem;
    color: var(--white);
  }
