.home{
    background-color: var(--background);
/*     background-image: url(../../../public/imgs/backgroundCyberpunk.png);
 */    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: var(--background);
}
#container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 85vh;
    margin-top: 30px;
    gap:40px;
    padding: 0px 25px;

}
.section__categories{
    background-color: var(--light-background);
    color: var(--color-primary);
    width: 15%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-normal);
    padding: 20px;
    border-radius: 5px;
}
.section__categories p{
    text-transform: capitalize;
    margin: 0;
    cursor: pointer;
    padding: 5px 10px;
}
.section__categories h2{
    margin: 5px;
}
.section__categories p:hover{
    background-color: var(--light-hover-background);
}
.container__home__right{
    width: 85%;
}
.section__title{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.section__title h1{
    font-family: var(--font-pixel);
    color: var(--white);
    width: 400px;
    font-size: 2.5rem;
    text-shadow:
        0 0 10px #fff,
        0 0 20px rgb(68, 0, 255),
        0 0 30px rgb(68, 0, 255),
        0 0 40px rgb(68, 0, 255),
        0 0 50px rgb(68, 0, 255);
        margin: 0;
}
.section__title img{
    translate: -70px;
    animation: Avatar 3s infinite;
    height: 150px;
}
.section__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.section__banner i{
    color: var(--color-primary);
    cursor:pointer;
    font-size: 2rem;
}
.section__banner img{
    width: 85%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
#games{
    background-color: var(--background);
    padding: 40px 30px;
    margin-top: 120px;
    width: fit-content;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#games > h2{
    font-family: var(--font-pixel);
    color: var(--color-primary);
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
}
.section__games{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
}
@keyframes Avatar{
    0%{
        transform: rotate(0deg);
        opacity: 1;
        filter: drop-shadow(5px 5px rgba(255, 255, 255, 0));
    }
    5%{
        filter: drop-shadow(5px 5px rgb(255, 0, 55));
    }
    6%{
        filter:drop-shadow(5px 5px rgba(255, 255, 255, 0));
    }
    7%{
        filter: drop-shadow(-5px -5px rgb(0, 255, 255));
    }
    8%{
        filter:drop-shadow(-5px -5px rgba(255, 255, 255, 0));
    }
    10%{
        opacity: 0;
    }
    11%{
        opacity: 1;
    }
    95%{
        filter: drop-shadow(5px 5px rgb(255, 0, 55));
    }
    96%{
        filter:drop-shadow(5px 5px rgba(255, 255, 255, 0));
    }
    97%{
        filter: drop-shadow(-5px -5px rgb(0, 255, 255));
    }
    98%{
        filter:drop-shadow(-5px -5px rgba(255, 255, 255, 0));
    }
    99%{
        opacity: 1;        
    }
    100%{
        transform: rotate(5deg);
        opacity: 0;
    }
}
