.page__quiz{
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.title__quiz h2{
    font-family: var(--font-pixel);
    color: var(--grey-dark);
    margin: 5px;
}
.questions{
    color: var(--color-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.questions h3{
    font-family: var(--font-normal);
    text-align: center;
    margin-top: 0px;
}
.questions .wrong{
    text-align: center;
    color: rgb(216, 47, 47);
    font-weight: 600;
    font-family: var(--font-pixel);
    margin: 0;
}
.questions .right{
    text-align: center;
    color: rgb(37, 192, 37);
    font-weight: 600;
    font-family: var(--font-pixel);
    margin: 0;
}
.questions > button{
    font-family: var(--font-normal);
    text-align: center;
    color: var(--white);
    background-color: var(--purple);
    box-shadow: 2px 2px 0px #932eff inset,
    -2px -2px 0px #44008d inset;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}
.answers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}
.answers button{
    border: 1px solid var(--grey-dark);
    color: var(--color-primary);
    font-family: var(--font-normal);
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}