.headerWithFilter__title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    font-family: var(--font-pixel);
    font-size: 1rem;
}

.headerWithFilter--center {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
i.headerWithFilter--center {
    font-size: 2rem;
    color: var(--purple-y);
    margin-right: 5px;
}
.headerWithFilter__title__name{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-page > main > section.headerWithFilter__title > div:nth-child(2){
    width: 50%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerWithFilter__title__name img {
    width: 90px;
    height: 90px;
    margin: 30px;
}
.headerWithFilter__title__name h1 {
    font-size: 1.2rem;
    color: var(--color-primary);
}
.headerWithFilter__title div:last-child > p{
    font-size: .9rem;
}


@media screen and (max-width:910px) {
    .headerWithFilter__title {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
    }

    .headerWithFilter__title__name {
        display: inline-grid;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
}