
#avatares_capivaraICON{
    width: 35px;
    height: auto;
    filter: var(--filter-image)
}

.avatares__letraPixel .titulo{
    font-family: var(--font-pixel);
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;
    padding: 10px 0;
}

.avatares__grid{
    display: flex;
    justify-content:center;
    align-items: center;
    width:auto;
    flex-wrap: wrap;
    margin: 0 20%;
    gap: 35px;
    margin-bottom: 35px;
}
