
#avatares_capivaraICON{
    width: 35px;
    height: auto;
}

.avatares__letraPixel .titulo{
    font-family: var(--font-pixel);
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;
}

.avatares__grid{
    display: flex;
    justify-content:center;
    align-items: center;
    width:800px;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 35px;
    margin-bottom: 35px;
}

.footer__main{
    margin-bottom: 0vh;
}