.footer__main{
    width: calc(100vw-20px);
    height: 100%;
    background-color: var(--light-background);
    color: var(--color-primary);
    text-align: center;
    padding: 30px;
    font-family: var(--font-pixel);
}

.footer__main p{
    margin: 0;
}
