.footer__main{
    height: fit-content;
    background-color: var(--light-background);
    color: var(--color-primary);
    text-align: center;
    padding: 30px;
    font-family: var(--font-pixel);
}

.footer__main p{
    margin: 0;
}
