

.review__Section{
    display: flex;
    justify-content:right;
    align-items: center;
    width:100%;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: -140px;
    font-family: var(--font-normal);
}

.review__border{
    display: flex;
    justify-content: center;
    gap: 9px;
    border: 4px solid var(--purple-y);
    background-color: var(--color-secondary);
    border-radius: 8px;
    margin-bottom: 80px;
    color: var(--color-primary);
    width: 70%;
    height: 250px;
}

.review__TextEdit {
    width:60%;
    margin-left: -7%;
}


.review__TextEdit p{
    margin: 0px;
}

.review__TextEdit .review__gameName{
    font-family: var(--font-pixel);
    margin-top: 18px;
    margin-bottom: 13px;
    font-weight: bold;
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.review__TextEdit .review__corpoDescricao{
    margin-top: 13px;
    height: auto;
    width: 100%;
}

.review__gameIMG{
    margin-top: 17px;
    margin-bottom: 0px;
    width:40%;
    position: relative;
}

.review__gameIMG img{
    width: 100%;
    height: 215px;
    object-fit: cover;
    position: absolute;
    left: -30%;
}

.review__TextEdit .review__Button{
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.review__TextEdit .review__Button > Button{
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: var(--font-pixel);
    vertical-align: middle;
    border: 0;
    border-radius: 10px;
    gap: 5px;
    padding: 5px;
    box-shadow: 2px 2px 0px #d8d8d8 inset,
    -2px -2px 0px #686868 inset;
}

.review__TextEdit .review__Button > Button > img{
    
    font-family: var(--font-pixel);
    width: 20px;
    height: 20px;
    filter:invert(1);
    margin-top:5px;
}

.review__TextEdit .review__Button > Button > label{
    
    margin-right:5px;
}

.review__partInferior{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: right;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
}

.review_FontSize{
    font-size: 1rem;
    font-family: var(--font-pixel);
}

@media screen and (max-width:1400px) {
    .review__TextEdit .review__corpoDescricao {
        margin-top: 13px;
        height: 70px;
        overflow-y: scroll;
    }
}
@media screen and (max-width:900px) {
    .review__border{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 9px;
        border: 4px solid var(--purple-y);
        background-color: var(--color-secondary);
        border-radius: 8px;
        margin-bottom: 80px;
        color: var(--color-primary);
        width: 90%;
        height: auto;
    }
    .review__gameIMG{
        margin: 10px auto;
        margin-bottom: 0px;
        width:95%;
        position: initial;
    }
    
    .review__gameIMG img{
        width: 100%;
        height: 215px;
        object-fit: cover;
        position: relative;
        left: 0%;
    }
    .review__TextEdit {
        width:95%;
        padding:15px;
        margin: 0 auto;
    }
    .review__Section{
        margin: 35px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .review__TextEdit .review__corpoDescricao{
        height: auto;
        overflow-y: auto;
    }
}