

.review__Section{
    display: flex;
    justify-content:right;
    align-items: center;
    width:100%;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: -140px;
}

.review__border{
    display: flex;
    justify-content: center;
    gap: 9px;
    border: 4px solid var(--purple);
    background-color: var(--color-secondary);
    border-radius: 8px;
    margin-bottom: 80px;
    color: var(--color-primary);
    width: 70%;
    height: 250px;
}

.review__TextEdit {
    width:60%;
}


.review__TextEdit p{
    margin: 0px;
}

.review__TextEdit .review__gameName{
    font-family: var(--font-pixel);
    margin-top: 18px;
    margin-bottom: 13px;
    font-weight: bold;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.review__TextEdit .review__corpoDescricao{
    margin-top: 13px;
    font-family: var(--font-normal);
    max-height: 100px;
    overflow-y: auto;
}

.review__gameIMG{
    margin-top: 17px;
    margin-bottom: 0px;
    width:40%;
    position: relative;
}

.review__gameIMG img{
    width:500px;
    position: absolute;
    left: -150px;
}

.review__TextEdit .review__Button{
    text-align: right;
    margin-right: 10px;
}

.review__TextEdit .review__Button > Button{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: var(--font-pixel);
    vertical-align: middle;
    border: 0;
    border-radius: 10px;
    padding: 5px;
}

.review__TextEdit .review__Button > Button > img{
    
    font-family: var(--font-pixel);
    width: 20px;
    height: 20px;
    filter:invert(1);
    margin-top:5px;
}

.review__TextEdit .review__Button > Button > label{
    
    margin-right:5px;
}

.review__partInferior{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: right;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
}

.review_FontSize{
    font-size: 1rem;
    font-family: var(--font-pixel);
}