.perfilDev__main{
    width: 100%;
    height: 100%;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 100px;
}



.perfilDev__titlePage{
    width: 100%;
}
.perfilDev__titlePage h1{
    font-family: var(--font-pixel);
    font-size: 3rem;
    color: var(--color-primary);
    margin-left: 50px;
}



.perfilDev__userData{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 50px;
}



.perfilDev__userData__avatar__image{
    width: 267px;
    height: 267px;
    border-radius: 50%;
    background-color: var(--dark2);
    border: 3px solid var(--purple-y);
    background: center / contain no-repeat url("/imgs/animais/2.png") var(--color-secondary);
    position: relative;
}
.perfilDev__userData__avatar__image__editImg{
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.perfilDev__userData__inputs{
    max-width: 700px;
    min-width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 20px;
    border: 3px solid var(--purple-y);
    padding: 20px;
}
.perfilDev__userData__input{
    font-size: 1.2rem;
    position: relative;
}
div.perfilDev__userData__descr > .perfilDev__userData__input:nth-child(2){
    background-color: var(--purple-y);
    color:var(--color-secondary);
    border-radius: 10px;
    border: 0px;
    transition: .5s;
}
.perfilDev__userData__input label{
    display: block;
    font-family: var(--font-pixel);
    margin-bottom: 10px;
}
.perfilDev__userData__input input{
    width: 250px;
    display: block;
    border-radius: 5px;
    background-color: var(--dark2);
    border: 1px solid var(--purple-y);
    color: var(--color-primary);
    padding: 13px 5px;
    font-size: 1rem;
    box-shadow: 2px 2px 0px #932eff inset,
    -2px -2px 0px #44008d inset;
}
div.perfilDev__userData__descr >.perfilDev__userData__input:nth-child(2) input{
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
div.perfilDev__userData__descr > .perfilDev__userData__input:nth-child(2):hover{
    background-color: #7b00ffe0;
}
.perfilDev__userData__input__editImg{
    position: absolute;
    bottom: 10px;
    right: 9px;
}
#container-page > main > section.perfilDev__userData > div.perfilDev__userData__inputs > div.perfilDev__userData__descr > div:nth-child(1) > img{
    bottom: 35px;
    right: 50px;
}
.perfilDev__userData__descr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
div.perfilDev__userData__descr >.perfilDev__userData__input:first-child{
    width: 100%;
}
div.perfilDev__userData__descr >.perfilDev__userData__input:first-child > label{
    margin-left: 20px;
}
div.perfilDev__userData__descr >.perfilDev__userData__input>textarea#descricao{
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    min-height: 100px;
    max-height: 300px;
    resize: vertical;
    display: block;
    margin: 0 auto;
    margin-bottom: 22px;
}



.perfilDev__actions{
    max-width: 950px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 100px;
}
.perfilDev__action {
    width: 250px;
    height: 200px;
    text-align: center;
    border: 2px solid var(--purple-y);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    color: var(--color-primary);
}
.perfilDev__action:hover{
    background-color: var(--purple);
    border: 2px solid var(--color-secondary);
}
.perfilDev__action img{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
.perfilDev__actions .perfilDev__action:nth-child(3) img, .perfilDev__action:nth-child(4) img, .perfilDev__action:nth-child(5) img, .perfilDev__action:nth-child(2) img,.perfilDev__userData__input__editImg,.perfilDev__userData__avatar__image__editImg{
    filter:var(--filter-image);
}
.perfilDev__actions .perfilDev__action:first-child img {
    width: 130px;
    height: 130px;
}
.perfilDev__action:nth-child(2) img{
    margin: 25px;
}
.perfilDev__actions .perfilDev__action:nth-child(3) img {
    width: 75px;
    height: 75px;
    margin: 28px 0px;
}
.perfilDev__action p{
    display: block;
    font-size: 1.3rem;
    font-family: var(--font-pixel);
}
#container-page > main > section.perfilDev__actions > a:nth-child(4) > img{
    width: 100px;
    height: 75px;
    display: block;
    margin: 20px auto;
}



@media screen and (max-width:750px) {
    .perfilDev__titlePage h1{
        font-size: 2rem;
        padding-left: 20px;
    }

    .perfilDev__userData__inputs{
        height: 100%;
        padding: 20px;
        margin: 50px;
    }
}
@media screen and (max-width:400px) {
    .perfilDev__userData__inputs{
        padding: 20px 10px;
        min-width: fit-content;
    }
}