.cadastroJogo__main {
    width: 100%;
    height: 100%;
    margin: 50px 0px;
}


.cadastroJogo__title{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 50px 0px;
    animation: SelectPlayer 2s infinite;
}
.cadastroJogo__title h1 {
    font-family: var(--font-pixel);
    color: var(--color-primary);
}
.cadastroJogo__title__setas {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 5px;
}
.cadastroJogo__title__setas div {
    position: absolute;
    top: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.cadastroJogo__title__seta {
    height: 0px;
    width: 0px;
    border: 8px solid;
    border-color:var(--color-primary) var(--color-primary) transparent transparent;
}
.cadastroJogo__title__seta.direita {
    transform: rotate(45deg);
}
.cadastroJogo__title__seta.esquerda{
    transform: rotate(225deg);
}



.cadastroJogo__menu{
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-bottom: 1.5px solid var(--purple);
    margin: 20px auto;
}
.cadastroJogo__menu__block{
    width: 150px;
    height: 100%;
    font-family: var(--font-pixel);
}
.cadastroJogo__menu__block__circle{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-primary);
    text-align: center;
    border: 3px solid var(--color-secondary);
    margin: 0 auto;
}
.cadastroJogo__menu__block__circle p{
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin: 5px auto;
    line-height: 35px;
}
.cadastroJogo__menu__block__circle.cadastroJogo__menu__block__circle--select{
    background-color: var(--purple);
    border: 5px solid var(--color-primary);
}
.cadastroJogo__menu__block__circle.cadastroJogo__menu__block__circle--select p{
    color: var(--color-primary);
    line-height: initial;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.cadastroJogo__menu__block__circle.cadastroJogo__menu__block__text--selected{
    background-color: var(--purple);
    line-height: initial;
}
.cadastroJogo__menu__block__text{
    width: fit-content;
    margin: 0 auto;
    color: var(--color-primary);
    font-size: 1.3rem;
}
.cadastroJogo__menu__block__text.cadastroJogo__menu__block__text--select p{
    font-weight: bold;
}
.cadastroJogo__menu__block__circle.cadastroJogo__menu__block__text--selected p{
    font-weight: initial;
    color: var(--color-primary);
}

  

.cadastroJogo__content{
    width: 100%;
    height: 100%;
    min-height: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.cadastroJogo__content__descriptionGame{
    color: var(--color-primary);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
	-webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.cadastroJogo__content__body{
    width: 540px;
}
.cadastroJogo__content__label{
    font-size: 1.1rem;
    font-family: var(--font-pixel);
    display: block;
    margin: 30px 0px;
}
label.cadastroJogo__content__label + input,label.cadastroJogo__content__label + textarea{
    border: 2px solid var(--purple);
    border-radius: 5px;
    background-color: var(--color-secondary);
    padding: 15px;
    color: var(--color-primary);
} 
label.cadastroJogo__content__label + input{
    width: 100%;
    height: 20px;
}
label.cadastroJogo__content__label + textarea{
    width: 540px;
    min-width: 540px;
    max-width: 700px;
    min-height: 200px;
    max-height: 500px;
}
.cadastroJogo__content__Bodybuttons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center; 
}
button.cadastroJogo__content__buttons{
    font-family: var(--font-pixel);
    font-size: 1rem;
    width: 120px;
    height: 30px;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.558);
    transition: .9s;
    font-weight: bold;
}
button.cadastroJogo__content__buttons:hover,
button.cadastroJogo__content__buttons--select{
    background-color: var(--purple);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}
.cadastroJogo__content__step2{
    width: 790px;
    height: 100%;
    -webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.cadastroJogo__content__plataforms{
    width: 100%;
    height: 100%;
    color: var(--color-primary);
    margin: 30px 0px;
    font-family: var(--font-normal);
}
.cadastroJogo__content__plataforms h2{
    font-family: var(--font-pixel);
}
.cadastroJogo__content__plataforms__checkboxs{
    display: inline-block;
}
.cadastroJogo__content__plataforms__checkboxs + div{
    margin-left: 30px;
}
.cadastroJogo__content__plataforms div > label {
    display: grid;
    grid-template-columns: 1em auto;
    align-items: center;
    gap: 0.5em;
}
.cadastroJogo__content__plataforms div > label > input[type="checkbox"] {
    appearance: none;
    background-color: #0e0e0e;
    color: currentColor;
    margin: 5px -2px;
    width: 1.40em;
    height: 1.40em;
    border: 0.15em solid currentColor;
    border-radius: 5px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}
.cadastroJogo__content__plataforms div > label > input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #f5f5f5;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.cadastroJogo__content__plataforms div > label > input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.cadastroJogo__content__requirements{
    width: 100%;
    height: 100%;
    color: var(--color-primary);
    font-family: var(--font-normal);
    margin-bottom: 70px;
}
.cadastroJogo__content__requirements h2{
    font-family: var(--font-pixel);
}
.cadastroJogo__content__requirements__selected{
    width: 345px;
    display: inline-block;
    margin: 20px 50px 20px 0px;
    position: relative;
}
.cadastroJogo__content__requirements__selected:last-child::before{
    content: '';
    width: 1px;
    height: 120%;
    position: absolute;
    top: -20px;
    left: -30px;
    background-color: var(--purple);
}
.cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs label {
    display: block;
    margin: 10px 0px;
}
.cadastroJogo__content__requirements__inputs--select{
    margin: 10px 0px;
}
.cadastroJogo__content__requirements__inputs{
    width: 100%;
    height: 100%;
}
.cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select label, .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select label{
    display: inline-block;
}
.cadastroJogo__content__requirements__inputs--inputStyle{
    width: 94.35%;
    height: 25px;
    border: 2px solid var(--purple);
    border-radius: 5px;
    background-color: var(--color-secondary);
    padding: 5px;
    color: var(--color-primary);
}
.cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select input, .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select input{
    width: 50px;
    height: 15px;
    border: 2px solid var(--purple);
    border-radius: 5px;
    background-color: var(--color-secondary);
    padding: 5px;
    color: var(--color-primary);
    margin: 5px;
}
.cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select select, .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select select{
    width: 70px;
    height: 30px;
    border: 2px solid var(--purple);
    border-radius: 5px;
    background-color: var(--color-secondary);
    padding: 5px;
    color: var(--color-primary);
    margin: 5px;
}
.cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select div:first-child, .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select div:first-child {
    width: 30%;
    display: inline-block;
}
.cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select div:last-child, .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select div:last-child{
    width: 70%;
    display: inline-block;
    text-align: end;
}
.cadastroJogo__content__step3{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.cadastroJogo__content__uploads{
    color: var(--color-primary);
    font-family: var(--font-normal);
}
.cadastroJogo__content__uploads h2{
    font-family: var(--font-pixel);
}
.cadastroJogo__content__uploadContent__fileUpload{
    width: 100%;
    max-width: 990px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cadastroJogo__content__uploadContent__fileUpload > div> div{
    display: inline-block;
    padding: 20px 30px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    margin: 15px;
    filter: brightness(2);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.cadastroJogo__content__uploadContent__fileUpload > div> div > input[type="file"]{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-primary);
    filter: brightness(0.5);
}
.cadastroJogo__content__uploadContent__fileUpload #classificacao{
    width: 70px;
    height: 30px;
    border: 2px solid var(--purple);
    border-radius: 5px;
    background-color: var(--color-secondary);
    padding: 5px;
    color: var(--color-primary);
    margin: 5px;
}
.cadastroJogo__content__uploadContent--flexRight{
    justify-content: flex-start;
}



.cadastroJogo__step{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.cadastroJogo__step__button{
    font-family: var(--font-pixel);
    font-size: 1rem;
    width: 120px;
    height: 30px;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.558);
    transition: .9s;
    font-weight: bold;
    margin: 50px 0px;
}
.cadastroJogo__step__buttonNext{
    color: var(--color-primary);
    background-color: var(--purple);
    box-shadow: 2px 2px 0px #932eff inset,
    -2px -2px 0px #44008d inset;
}
.cadastroJogo__step__buttonNext:hover{
    background-color: #7900fbcd;
}
.cadastroJogo__step__buttonBack{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    box-shadow: 2px 2px 0px #d8d8d8 inset,
    -2px -2px 0px #686868 inset;
}


/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}

@media screen and (max-width:999px) {
    .cadastroJogo__content__uploadContent__fileUpload{
        max-width: 100%;
    }
    .cadastroJogo__content__uploadContent__fileUpload > div> div{
        padding: 10px;
    }
}
@media screen and (max-width:950px) {
    .cadastroJogo__menu{
        width: 80%;
    }
    .cadastroJogo__content__label{
        font-size: .9rem;
    }
    label.cadastroJogo__content__label + input, label.cadastroJogo__content__label + textarea{
        padding: 9px;
    }
    label.cadastroJogo__content__label + textarea{
        width: 500px;
        max-width: 500px;
        min-height: 200px;
        max-height: 500px;
    }
    .cadastroJogo__content__requirements__selected{
        margin: 10px;
    }
    .cadastroJogo__content__requirements__selected:last-child::before{
        top: -0px;
        left: -12px;
    }
    .cadastroJogo__content__uploadContent__fileUpload > div> div > input[type="file"]{
        font-size: .7rem;
    }
}
@media screen and (max-width:810px) {
    .cadastroJogo__content__step2 {
        width: max-content;
    }
}
@media screen and (max-width:750px) {
    .cadastroJogo__content__requirements{
        width: 50%;
        margin: 0 auto;
    }
    .cadastroJogo__content__requirements__selected:last-child::before{
        width: 0px;
        position: initial;
    }
    .cadastroJogo__content__requirements__selected{
        margin: 0px;
    }
    .cadastroJogo__content__plataforms__checkboxs{
        display: block;
    }
    .cadastroJogo__content__plataforms__checkboxs + div{
        margin: 0px;
    }
    .cadastroJogo__content__plataforms{
        width: max-content;
        margin: 30px auto;
    }
    .cadastroJogo__content__uploadContent__fileUpload label{
        font-size: .7rem;
    }
    .cadastroJogo__content__uploadContent h3{
        font-size: 1rem;
    }
    .cadastroJogo__content__step2{
        width: 100%;
    }
}
@media screen and (max-width:700px) {
    .cadastroJogo__content__plataforms h2, .cadastroJogo__content__requirements h2{
        font-size: 1.2rem;
    }
    .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs label, .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select label, .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select label {
        font-size: .9rem;
    }
    .cadastroJogo__content__plataforms div > label{
        font-size: 1rem;
    }
    .cadastroJogo__menu__block__text{
        font-size: .7rem;
    }
    .cadastroJogo__menu__block__circle p{
        font-size: 1.4rem;
        line-height: 19px;
    }
    .cadastroJogo__menu__block__circle{
        width: 30px;
        height: 30px;
    }
    .cadastroJogo__menu__block__circle.cadastroJogo__menu__block__circle--select p{
        line-height: 15px;
    }
    .cadastroJogo__content__body{
        width: 370px;
    }
    label.cadastroJogo__content__label + input, label.cadastroJogo__content__label + textarea{
        width: 300px;
    }
    label.cadastroJogo__content__label + textarea#cadastroJogo__content__textarea{
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        min-height: 200px;
        max-height: 300px;
    }
    button.cadastroJogo__content__buttons{
        font-size: .8rem;
        width: 100px;
    }
}
@media screen and (max-width:600px) {
    .cadastroJogo__content__requirements__inputs{
        text-align: center;
    }    

    .cadastroJogo__content__requirements__inputs--inputStyle{
        width: 70%;
    }
    .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select div:last-child, .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select div:last-child{
        width: 100%;
        display: block;
        text-align: center;
    }
    .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select div:first-child, .cadastroJogo__content__requirements__selected .cadastroJogo__content__requirements__inputs--select div:first-child{
        width: 100%;
        display: block;
        text-align: center;
    }
    .cadastroJogo__step__button{
        font-size: .8rem;
        width: 100px;
    }
}
@media screen and (max-width:500px){
    .cadastroJogo__content__requirements, .cadastroJogo__content__body, .cadastroJogo__content__step3 {
        width: 80%;
    }
}
@media screen and (max-width:400px){
    .cadastroJogo__content__requirements{
        width: 100%;
        text-align: center;
    }
    .cadastroJogo__content__requirements__selected,.cadastroJogo__content__requirements, .cadastroJogo__content__body {
        width: 100%;
    }
    .cadastroJogo__content__Bodybuttons{
        flex-direction: column;
    }
    label.cadastroJogo__content__label + textarea#cadastroJogo__content__textarea{
        width: 100%;
        resize: none;
    }
    .cadastroJogo__menu{
        gap:10px;
    }
    .cadastroJogo__menu__block{
        width: 100%;
    }
    .cadastroJogo__title h1{
        font-size: 1rem;
    }
    .cadastroJogo__content__uploadContent__fileUpload label{
        display: block;
    }
    .cadastroJogo__content__uploadContent__fileUpload > div> div{
        margin: 10px 0px;
    }
}