.settings{
    cursor:pointer;
    position: fixed;
    right: 0;
    top: 55%;
    z-index: 999;
    margin-right: 10px;
}
.settings a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}
.settings > i{
    padding: 10px;
    color: var(--light-hover-background);
    background-color: var(--light-background);
    border-radius: 5px;
    font-size: 20px;
}
.settings ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    list-style: none;
    background-color: var(--light-background);
    margin:0;
    margin-top:5px;
    padding: 0;
}
.settings ul li{
    font-family: var(--font-normal);
    padding: 10px;
    color: var(--white);
}
.settings ul li:hover{
    background-color: var(--light-hover-background);
}