#cart{
    padding: 40px 30px;
    margin: 0px 10% 20px 10%;
}
.title__cart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}
#cart .title__cart > h2{
    font-family: var(--font-pixel);
    color: var(--color-primary);
    margin-bottom: 20px;
}
.title__cart img{
    height: 30px;
}
.cart__games{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.cart__total{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
}
.cart__border__price{
    border:2px solid #000;
    border-radius:5px;
    background-color: var(--purple);
    padding:7px;
    box-shadow: 2px 2px 0px 0px #8c21ffe3 inset;
}
.cart__price{
    border:2px solid var(--purple);
    border-radius:5px;
    padding:7px;
}
.cart__price h2{
    font-family: var(--font-pixel);
    text-align: left;
    color:var(--grey);
    margin:0px auto; 
    padding: 0px 20px;
}
.finalizar__pedido, .continuar__comprando{
    font-family: var(--font-pixel);
    text-align: center;
    color: var(--white);
    background-color: var(--purple);
    box-shadow: 2px 2px 0px #932eff inset,
    -2px -2px 0px #44008d inset;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    cursor: pointer;
}
.continuar__comprando{
    float: right;
    margin-bottom: 20px;
}

/** Responsividade **/
@media screen and (max-width:650px) {
    .finalizar__pedido{
        padding: 10px;
    }
    #cart{
        margin: 0px 5% 20px 5%;
    }
}