@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background: #fff;
    --color-primary: #0e0e0e;
    --color-secondary: #f5f5f5;
    --purple: #7900fb;
    --font-pixel: 'Silkscreen', cursive;
    --font-normal: 'Poppins', sans-serif;
    --light-background: #d3d3d3;
    --light-hover-background: #adadad;
    --transparent-background:#0000001c;
    --white: #fff;
    --black: #000;
    --grey: #737373;
    --dark: #0e0e0e;
    --dark2--change:rgb(228, 228, 228);
    --grey-dark: #b4b4b4;
    --pink: #FF527B;
    --filter-image: invert(100%);
    margin: 0;
    box-sizing: border-box;
}

[data-theme='dark'] {
    --background: #0e0e0e;
    --color-secondary: #0e0e0e;
    --color-primary: #f5f5f5;
    --purple: #7900fb;
    --light-hover-background: #444444;
    --light-background: #252525;
    --transparent-background:#ffffff25;
    --white: #fff;
    --black: #000;
    --dark-grey:#252525;
    --dark: #0e0e0e;
    --grey: #737373;
    --grey-dark: #262626;
    --dark2--change:rgb(19, 19, 19);
    --pink: #FF527B;
    --filter-image: invert(0%);
}
[data-theme='contrast'] {
    --background: #000000;
    --color-primary: #eeff00;
    --color-secondary: #000000;
    --text-light: #eeff00;
    --purple: #000000;
    --light-hover-background: #000000;
    --light-background: #000000;
    --transparent-background:#000000;
    --white: #eeff00;
    --black: #000;
    --grey: #eeff00;
    --grey-dark: #000000;
    --white: #eeff00;
    --dark: #000;
    --dark2:#000000;
    --dark2--change:#000000;
    --black: #000;
    --pink: #eeff00;
    --filter-image: invert(0%);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
}
a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}
#app{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}
#container-page{
    padding-top: 25px;
}