
#container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 85vh;
    margin-top: 30px;
    gap:40px;
    padding: 0px 25px;
    background-color: var(--background);
}
#img-faq{
  width: 50px;
  height: 40px;
  filter: var(--filter-image);
}

.container-tittle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4%;
}

h1{
  font-family: var(--font-pixel);
  color: var(--color-primary);
  margin: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.caixa{
  display: flex;
  justify-content: center;
}

.borda{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--purple-y);
  cursor: pointer;
  margin: 2%;
  width: 150px;
  height: 30px;
  padding: 1%;
}

a{
  color: var(--color-primary);
  font-family: var(--font-pixel);
  display: flex;
  align-items: center;
  text-align: center;
}

.infos{
  display: flex;
  border: 2px solid var(--purple-y);
  cursor: pointer;
  width: 50%;
  flex-direction: column;
  border-radius: 5px;
}

.center{
  display: flex;
  margin: 2%;
  flex-direction: column;
  align-items: center;
}


.seta{
  font-family: var(--font-pixel);
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  background: var(--purple);
  width: 50%;
  height: 30px;
  align-items: center;
  border-radius: 2px;
  padding-left: 2px;
}  

.texto-expansivel{
  display: flex;
  border: 2px solid var(--purple-y);
  cursor: pointer;
  width: 95%;
  flex-direction: column;
  border-radius: 5px;
  margin: 2%;
  font-family: var(--font-normal);
}

.texto-expansivel a{
  border: 2px solid var(--purple-y);
}

.texto-expansivel p{
  padding-left: 2%;
  padding-right: 2%;
  color: var(--color-primary);
  text-align: justify;
}


@media screen and (max-width:550px) {
  .caixa{
      flex-direction: column;
      padding: 7px 15px;
      align-items: center;
  }
  h1{
    font-size: 1rem;
  }
  a{
    font-size: 0.8rem;
  }
}

@media screen and (max-width:660px) {
  .seta{
    font-size: 0.8rem;
    width: 100%;
  }
  .infos{
    display: flex;
    border: 2px solid var(--purple-y);
    cursor: pointer;
    width: 90%;
    flex-direction: column;
    border-radius: 5px;
  }

}