.page404{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}
.page404 h1{
    font-size: 7rem;
    color: var(--color-primary);
    font-family: var(--font-pixel);
    margin-bottom: 20px;
}
.text404{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 350px;
}
.text404 h2{
    color: var(--color-primary);
    font-family: var(--font-normal);
}
.text404 h2 b{
    color: var(--purple);
    font-family: var(--font-normal);
}
.text404 .botão{
    margin-top: 20px;
    font-family: var(--font-pixel);
    text-align: center;
    color: var(--white);
    background-color: var(--purple);
    box-shadow: 2px 2px 0px #932eff inset,
    -2px -2px 0px #44008d inset;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    cursor: pointer;
}
/* .text404 .botão:hover{
    border: #00a1ff solid 1px;
    color: #00a1ff;
    background-color: #fff;
    transition: 0.7s;
} */
.fundoimg{
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.fundoimg img{
    width: 100%;
    height: auto;
}